.pokemonInfo {
  margin: auto;
  width: 30vh;
  height: 30vh;
}

.bgImg {
  background-image: url(./images/pokeball.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: -1;
  min-width: 100vh;
  min-height: 100vh;
}
