.firstCard {
  margin: auto;
  border: 5px black;
  padding: 0;
  background-color: transparent;
}

.secondCard {
  margin: auto;
  border: 5px black;
  padding: 0;
  background-color: transparent;
}

.firstImage {
  transform: scaleX(-1);
}

.abilities {
  background-color: bisque;
  border: black;
  border-width: 5px;
}

.stats {
  padding: 0;
}
